Source: binutils-amd64-linux-musl
Section: devel
Priority: extra
Maintainer: Keith Winstein <keithw@cs.stanford.edu>
Build-Depends:
 binutils-source,
 debhelper (>= 8.0.0),
 autotools-dev,
 bison,
 flex,
 gettext,
 texinfo,
 dejagnu (>= 1.4.2-1.1),
 python3,
 file,
 xz-utils,
 lsb-release,
 zlib1g-dev,
 libisl-dev,
 libcloog-isl-dev,
 musl-dev
Standards-Version: 3.9.6
HomePage: https://sourceware.org/binutils/

Package: binutils-amd64-linux-musl
Architecture: any
Built-Using: ${Built-Using}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GNU assembler, linker and binary utilities for x86_64-linux-musl
 The programs in this package are used to compile a gcc and g++ cross-compiler
 from x86_64-linux-gnu to x86_64-linux-musl.
